body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
input, button {
  margin: 5px;
  padding: 8px;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
}
th, td {
  border: 1px solid white;
  padding: 8px;
}
